.sidenav {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #10101f;
    overflow-x: hidden;
    transition: 0.5s;
}

.btn_menu {
    border: 0;
    background-color: transparent;

    height: 50px;
    width: 100px;
    margin: 10px;
    color: white;
    font-size: 50px;


}